.last {
    width: 1200px;
    height: 877px;
    flex-shrink: 0;
    background: #FFF5F6;
  position: relative;
  margin: 0 auto;
}
.info {
  max-width: 1200px;
  height: 44px;
  display:inline-flex;
  margin-top:499px;
}
.company-location {
    display: flex;
  box-sizing: border box;
   width: 198px;
height: 44px;
flex-shrink: 0;
  border-radius: 22px;
background: #D41342;
  margin-left: calc(471px - 30px);
}
.company-location > img {
    width: 4.428px;
height: 8px;
flex-shrink: 0;
stroke-width: 2px;
stroke: #FFF;
margin-left: 35px;
margin-top: 19px;
margin-left: 13.62px;
cursor: pointer;
}
.company-location .location {
    width: 113px;
    margin-left: 35px;
}
.company-location a{
    text-decoration: none;
    display: flex;
    width: 109px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 14.8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.company-franchise {
    display: flex;
  border-radius: 22px;
background: #FFF;
  box-sizing:border box;
width: 168px;
height: 44px;
flex-shrink: 0;
  margin-left: 12px;
}
.company-franchise .franchise {
    width: 75px;
    margin-left: 36.4px;
    padding-top: 8px;
}
.company-franchise a {
  text-decoration:none;
  color: #D41443;
text-align: center;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.company-franchise > img {
    width: 4.132px;
height: 8px;
flex-shrink: 0;
stroke-width: 2px;
stroke: #D41443;
margin-left: 19.71px;
margin-top: 19px;
cursor: pointer;
}
.product {
    position: absolute;
    display: block;
  box-sizing:border-box;
  width:474px;
  height:116px;
  display:flex;
  flex-direction:column;
  margin-left: 16px;
  margin-top:121px;
}
.homemade{
  height:34px;
  width:472px;
}
.homemade h3{
    color: #FFA5BA;
    font-family: Titan One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.passion{
  width:474px;
  height:66px;
  margin-top:16px;
  box-sizing:border-box;
}
.passion h2{
  color: #D41443;
font-family: Titan One;
font-size: 57.5px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 3.48px;
text-transform: uppercase;
}
.last .contact{
    display: block;
  width:319px;
  height:104px;
  flex-direction:column;
  margin-left:865px;
  margin-top:121px;
}
 .icon{
  width:162px;
  height:34px;
  margin-left:157px;
  margin-top:0px;
  justify-content: space-between;
  display: flex;
}
.git, .telegram, .facebook {
  cursor: pointer;
}
 .feel {
  width:319px;
  height:30px;
  margin-top:40px;
}
.feel .free{
  color: #000;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 186%; /* 29.76px */
letter-spacing: 0.32px;
}
.feel .end{
  text-decoration:none;
  color: #D41443;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 186%;
letter-spacing: 0.32px;
}
.adjourn {
    margin-top: 60px;
}
.vector-8 {
    margin-left: 17px;
    padding: 0;
    width: 1167px;
height: 0px;
stroke: #E1E1E1;-shrink: 0;
stroke-width: 1px;
}
.end-footer{
  width:283px;
  height:26px;
  margin-left:462px;
  margin-top: 17px;
}
.end-footer p{
  color: #907E82;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 186%; /* 26.04px */
letter-spacing: 0.28px;
}
@media  screen and (min-width:780px) and (max-width:1199px) {
.last {
    width: 772px;
    max-width: 100vw;
height:625px;
flex-shrink: 0;
background: #FFF5F6;
}
.info {
    margin-top: 290px;
}
.company-location {
    display: flex;
  box-sizing: border box;
   width: 191px;
height: 44px;
flex-shrink: 0;
  border-radius: 22px;
background: #D41342;
  margin-left: calc(129px + 65px);

}
.company-franchise {
    width: 174.046px;
height: 44px;
flex-shrink: 0;
border-radius: 22px;
background: #FFF;
margin-left: calc(14.3px + 2px);
}
.product {
    margin-top: 40px;
    height: 88px;
    width: 340px;
}
.homemade {
    width: 340px;
height: 57px;
}
.homemade h3 {
color: #FFA5BA;
font-family: Titan One;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.04px;
text-transform: uppercase;
}
.passion {
    width: 340px;
}
.last .contact {
    margin-left: 431px;
    margin-top: 100px;
}
.end-footer {
  margin-left: 31%;
  width: 772px;
height: 1164px;
flex-shrink: 0;
}
.vector-8 {
  min-width: 768px;
  height: 0px;
  flex-shrink: 0;
  margin-left: 3px;
}
.adjourn {
  margin-top: 40px;
}
.vector-8 {
  width: 768px;
height: 0px;
flex-shrink: 0;
}
.end-footer {
  margin-left: 246px;
}
}
@media screen and (max-width:779px) {
  .last {
    margin-top: 363px;
    width: 320px;
    max-width: 100vw;
height: 1513px;
flex-shrink: 0;
flex-direction: column;
  }
  .last .info {
    min-width: 320px;
    height: 98px;
    flex-direction: column;
    margin-left: calc(58px + 10px);
    margin-top: calc(605px + 400px);
  }
  .company-location {
   width: calc(101.45px + 96px);
height: 44px;
flex-shrink: 0;
margin-left: 0px;
  }
  .company-franchise {
    width: calc(101.45px + 96px);
    height: 44px;
    flex-shrink: 0;
    margin-left: 0px;
    margin-top: 10px;
  }
  .product {
    height: 128px;
    width: 232px;
    margin-top: 40px;
    margin-left: 20px;
  }
  .homemade {
    width: 232px;
height: 42px;
flex-shrink: 0;
  }
  .homemade h3 {
    color: #FFA5BA;
font-family: Titan One;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
  }
  .passion {
    width: 200px;
height: 76px;
flex-shrink: 0;
  }
  .passion h2 {
    color: #D41443;
font-family: Titan One;
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.36px;
text-transform: uppercase;
  }
  .last .contact {
    height: 94px;
  width: 245px;
  margin-left: 55px;
  margin-top: 214px;
  }
  .icon {
    width: 152.48px;
    height: 32px;
    margin-left: 92.5px;
  }
  .feel {
    width: 245px;
    height: 22px;
  }
  .feel .free {
    color: #000;
text-align: right;
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 186%; /* 22.32px */
  }
  .feel .end {
    color: #D41443;
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 186%;
  }
  .telegram .github .facebook {
    width: 32px;
    height: 32px;
  }
  .adjourn {
  margin-top: 40px;
  height: 62px;
  min-width: 320px;
  }
  .end-footer {
    width: 280px;
    height: 42px;
    margin-left: 20px;
    margin-top: 16px;
    padding-left: 15px;
  }
  .end-footer p {
    color: #907E82;
text-align: center;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 152%; /* 21.28px */
  }
}