:root {
    --Black: #000;
    --White: #fff;
    --Pink: #FFA5BA;
    --Light-Pink: #FFB8CA;
    --Pinkish-White: #fff5f6;
    --Dark-Red-Pink: #D41443;
    --Light-Brown: #F0D1A5;
    --Light-Green: #C2E297;
    --Brown: #907E82;
    --Brown-Transparent:#d414431a;
    --Grey: #E1E1E1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--White);
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.16px;
    letter-spacing: 0.56px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}
.button {
    display: inline-block;
    text-align: center;
    background-color: var(--Dark-Red-Pink);
    color: inherit;
    border-radius: 20px;
    padding: 6px 16px;
    margin-right: 12px;
}

.button:hover {
    color: var(--Dark-Red-Pink);
    background-color: var(--White);
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

// h2
.heading-two { 
    color: var(--Dark-Red-Pink);
    font-family: 'Titan One';
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.48px;
    text-transform: uppercase;
}

// h3
.heading-three {
    font-family: Titan One;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

// h4
.heading-four {
    font-family: Titan One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

//for comment icon
.icon-xl {
    width: 54px;
    height: 40px;
    fill: #e1e1e1;
}

//for ingredients icons 
.icon-l {
    width: 50px;
    height: 50px;
    fill: var(--Pink);
}

// for footer icons
.icon-m {
    width: 34px;
    height: 34px;
    fill: currentColor;
}

//for comment icon
.icon-s {
    width: 12px;
    height: 12px;
    fill: var(--Dark-Red-Pink);
}

//for regular button icons
.icon-xs {
    width: 4px;
    height: 8px;
    fill: currentColor;
}