:root {
    --Black: #000;
    --White: #fff;
    --Pink: #FFA5BA;
    --Light-Pink: #FFB8CA;
    --Dark-Red-Pink: #D41443;
    --Light-Brown: #F0D1A5;
    --Light-Green: #C2E297;
    --Brown: #907E82;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--White);
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.16px;
    letter-spacing: 0.56px;
}

.container {
    width: 1200px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

// h2
.heading-two { 
    color: var(--Dark-Red-Pink);
    font-family: 'Titan One';
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.48px;
    text-transform: uppercase;
}

// h3
.heading-three {
    font-family: Titan One;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.52px;
    text-transform: uppercase;
}

// h4
.heading-four {
    font-family: Titan One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.icon-big {
    width: 50px;
    height: 50px;
    fill: var(--Pink);
}

.icon-medium {
    width: 34px;
    height: 34px;
    fill: currentColor;
}

.icon-small {
    width: 12px;
    height: 12px;
    fill: var(--Dark-Red-Pink);
}