.hero {
    background-color: var(--Light-Pink);
}

.hero .heading-two {
    line-height: 90.5%;
    letter-spacing: 2.32px;
}

.hero .heading-three {
    letter-spacing: 1.52px;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 150px 50px 0 50px;
}

.hero-headings {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero .button:first-child {
    background-color: var(--Dark-Red-Pink);
}

.hero .button:not(:first-child) {
    color: var(--Dark-Red-Pink);
    background-color: var(--White);
}

.hero-business-wrapper > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin: 18px 20px 0 0;
}

.hero-business {
    position: relative;
}

.hero-business .heading-two {
    font-size: 46px;
    z-index: 1;
}

.hero-business::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-color: var(--White);
    border-radius: 50%;
}

.hero-slider {
    position: relative;
    padding-bottom: 60px;
}

.slider.one {
    background: url(../images/hero-1.png) no-repeat center;
    width: 215px;
    height: 215px;
    margin-top: 40px;
    margin-left: 50px;
}

.slider.two {
    position: absolute;
    top: -125%;
    right: 15%;
}

.slider-bg {
    display: block;
    width: 535px;
    height: 535px;
    background-color: var(--Pink);
    border-radius: 50%;
}

.slider.two::after {
    content: "";
    position: absolute;
    top: 11.6%;
    right: 30%;
    display: block;
    width: 235px;
    height: 555px;
    background: url(../images/hero-2.png) no-repeat center;

}

.slider.three {
    position: absolute;
    top: 35px;
    right: 50px;
    background: url(../images/hero-3.png) no-repeat center;
    background-size: cover;
    width: 305px;
    height: 240px;
}

.slider-text-wrapper {
    position: absolute;
    top: 25%;
    left: 22%;
    width: 210px;
}

.slider-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
}

.slider-text-wrapper .icon-s {
    width: 26px;
    height: 26px;
    padding: 7px;
    margin-top: 15px;
    border-radius: 50%;
    background-color: var(--White);
}

@media (max-width:779px) {
    .container {
        width: 320px;
        border: 1px solid green;
    }

    .hero-wrapper {
        padding: 150px 20px 0;
    }

    .hero-headings {
        z-index: 1;
    }

    .hero .heading-two {
        font-size: 48px;
    }

    .hero .heading-three {
        font-size: 26px;
    }

    .hero .button {
        font-size: 8px;
        font-weight: 400;
        padding: 0 14px;
        margin-right: 5px;
    }

    .hero-slider {
        padding-bottom: 151.5px;
    }

    .slider.one,
    .slider.three,
    .slider-text-wrapper,
    .hero-business-wrapper {
        display: none;
    }

    .slider.two {
        top: -178%;
        left: 10%;
    }

    .slider.two::after {
        top: 3%;
        left: 35%;
        width: 170px;
        height: 410px;
        background-size: cover;
    }

    .slider-bg {
        clip-path: inset(0 17% 0% 0%);
        position: absolute;
        top: 0;
        left: 1px;
        object-fit: contain;
        width: 345;
        height: 345;
    }
}

@media (min-width: 780px) and (max-width: 1199px){
    .container {
        width: 780px;
    }
    
    .hero-wrapper {
        padding: 102px 32px 0 32px;
    }

    .hero .heading-two {
        font-size: 34px;
    }

    .hero .heading-three {
        font-size: 22px;
    }

    .hero .button {
        font-size: 8px;
        font-weight: 400;
        padding: 0px 14px;
        margin-right: 5px;
    }

    .hero-business .heading-two {
        font-size: 28px;
    }

    .hero-business p {
        font-size: 8px;
        line-height: normal;
    }

    .hero-business::before {
        width: 16px;
        height: 16px;
        top: -6px;
        right: -7px;
    }

    .slider.one {
        width: 154px;
        height: 154px;
        background-size: cover;
        margin-left: 32px;
    }

    .slider.two {
        top: -74.5%;
        right: 23.5%;
    }
    
    .slider-bg {
        width: 335px;
        height: 335px;
    }

    .slider.two::after {
        width: 145px;
        height: 335px;
        background-size: cover;
    }

    .slider.three {
        width: 190px;
        height: 150px;
        top: 64px;
        right: 30px;
    }

    .slider-text-wrapper {
        width: 130px;
    }

    .slider-text {
        font-size: 8px;
        line-height: 12px;
    }

    .slider-text-wrapper .icon-s { 
        width: 18px;
        height: 18px;
        padding: 5px;
    }
}