.him-section {
    background: #FFF5F6;
    // position: relative;
    // z-index: 1;
    margin-top: 60px;
}

.heading-four {
    color: var(--Pink); 
    text-align: center;
    padding-top: 60px;
}

.heading-two {
    text-align: center;
    padding-bottom: 60px;
}

.him-bg {
    background: url('../images/him-section-bg.jpg'),
                 lightgray 0px -0.163px / 100% 100.063%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1200px;
    height: 521px;
    // position: relative;
    // z-index: 2;
}

.him-img-text {
    display: flex;
    flex-direction: column;
}

.him-cow-milk {
    width: 501px;
    height: 501px;
    // z-index: 3;
}

.him-par-1 {
    color: var(--Black);
    line-height: 176%;
    letter-spacing: 0.64px;
    width: 400px;
    height: 104px;
}

.him-par-2 {
    color: var(--Brown);
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.56px;
    width: 401px;
    height: 130px;
}

.him-button {
    width: 176px;
    height: 44px;
    border: none;
    border-radius: 22px;
    background: var(--White);
}

.him-details {
    display: flex;
    flex-direction: column;
}

.him-info {
    color: var(--Black);
    font-weight: 700;
    line-height: 176%;
    letter-spacing: 0.32px;
}






