.him-section {
    background: #FFF5F6;
    // position: relative;
    // z-index: 1;
    margin-top: 60px;
}

.heading-four {
    color: var(--Pink); 
    text-align: center;
    padding-top: 60px;
}

.heading-two {
    text-align: center;
    padding-bottom: 60px;
}

.him-bg {
    background: url('../images/him-section-bg.jpg'),
                 lightgray 0px -0.163px / 100% 100.063%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1200px;
    height: 521px;
    border: none;
    // position: relative;
    // z-index: 2;
}

.him-img-text {
    display: flex;
   
}

.him-cow-milk {
    width: 501px;
    height: 501px;
    margin-left: 16px;
    // z-index: 3;
}

.him-texts {
    padding-left: 99px;
}

.him-par-1 {
    color: var(--Black);
    line-height: 176%;
    letter-spacing: 0.64px;
    width: 400px;
    height: 104px;
    margin-top: 90px;
    margin-bottom: 32px;
}

.him-par-2 {
    color: var(--Brown);
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.56px;
    width: 401px;
    height: 130px;
    margin-bottom: 40px;
}

.him-button {
    width: 176px;
    height: 44px;
    border: none;
    border-radius: 22px;
    background: var(--White);
    color: var(--Dark-Red-Pink);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    gap: 13.62px;
}

.him-button-arrow {
    stroke-width: 4px;
    fill: var(--Dark-Red-Pink);
    width: 24px;
    height: 14px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.him-button:hover {
    background: var(--Pink);
}

.him-details {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.him-info-1,
.him-info-2,
.him-info-3 {
    color: var(--Black);
    font-weight: 700;
    line-height: 176%;
    letter-spacing: 0.32px;
}

.him-info-1 {
    width: 288px;
    height: 79px;
    margin-right: 115px;
}

.him-info-2 {
    width: 317px;
    height: 58px;
    margin-right: 80px;
}

.him-info-3 {
    width: 288px;
    height: 82px;
}

.him-heading-nos {
    text-align: start;
    padding-top: 40px;
    padding-bottom: 16px;
}

@media screen and (min-width: 780px) and (max-width: 1199px) {
    .container {
        width: 780px;
    }
    
    .him-cow-milk {
        width: 336px;
        height: 335px;
        margin-left: 32px;
    }
    }

@media (max-width: 779px) {
    
    }






