.heading-four {
    color: var(--Pink); 
    text-align: center;
}

.heading-two {
    text-align: center;
}

.him-bg {
    background-image: url('../images/him-section-bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1200px;
    height: 521px;
}

.him-section {
    background: #FFF5F6;
}