.him-section {
    background: #FFF5F6;
    position: relative;
    margin-top: 60px;
}

.heading-four {
    color: var(--Pink); 
    text-align: center;
    padding-top: 60px;
}

.heading-two {
    text-align: center;
    padding-bottom: 60px;
}

.him-bg {
    background: url('../images/him-section-bg.jpg'),
                 lightgray 0px -0.163px / 100% 100.063%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1200px;
    height: 521px;
    border: none;
    position: relative;  
    z-index: 1;
    background: #FFF5F6;
}

.him-img-text {
    display: flex;   
}

.him-cow-milk {
    background: url('../images/him-pic-1.jpg'), 
                lightgray 50% / cover no-repeat;
    width: 501px;
    height: 501px;
    margin-left: 16px;
    position: relative;   
    z-index: 1;
}

.him-texts {
    padding-left: 99px;
    background: #FFF5F6;
}

.him-par-1 {
    color: var(--Black);
    line-height: 176%;
    letter-spacing: 0.64px;
    width: 400px;
    height: 104px;
    margin-top: 90px;
    margin-bottom: 32px;
}

.him-par-2 {
    color: var(--Brown);
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.56px;
    width: 401px;
    height: 130px;
    margin-bottom: 40px;
}

.him-button {
    width: 176px;
    height: 44px;
    border: none;
    border-radius: 22px;
    background: var(--White);
    color: var(--Dark-Red-Pink);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    gap: 13.62px;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.him-button-arrow {
    stroke-width: 4px;
    fill: var(--Dark-Red-Pink);
    width: 24px;
    height: 14px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.him-button:hover {
    background: var(--Pink);
}

.him-details {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.him-info-1,
.him-info-2,
.him-info-3 {
    color: var(--Black);
    font-weight: 700;
    line-height: 176%;
    letter-spacing: 0.32px;
}

.him-info-1 {
    width: 288px;
    height: 79px;
    margin-right: 115px;
}

.him-info-2 {
    width: 317px;
    height: 58px;
    margin-right: 80px;
}

.him-info-3 {
    width: 288px;
    height: 82px;
}

.him-heading-nos {
    text-align: start;
    padding-top: 40px;
    padding-bottom: 16px;
}

@media screen and (min-width: 780px) and (max-width: 1199px) {
    .container {
        width: 780px;
    }

    .him-bg {
        background: none;
    }

    .him-cow-milk {
        width: 336px;
        height: 335px;
        margin-left: 32px;
        margin-right: 32px;
        background: url('../images/him-pic-1-tab.jpg'), 
        lightgray 50% / cover no-repeat;
    }

    .him-texts {
        padding-left: 0;
    }

    .him-par-1 {
        font-size: 14px;
        line-height: 174%;
        letter-spacing: 0.56px;
        width: 334px;
        height: 95px;
        margin-top: 40px;
        margin-bottom: 32px;
    }
    
    .him-par-2 {
        width: 334px;
        height: 155px;
        margin-bottom: 40px;
    }

    .him-heading-nos {
        font-size: 48px;
        letter-spacing: 1.92px;
    }

    .him-info-1 {
        font-size: 14px;
        line-height: 174%;
        letter-spacing: 0.28px;
        width: 165px;
        height: 113px;        
        margin-right: 19px;
        margin-left: 32px;
    }
    
    .him-info-2 {
        font-size: 14px;
        line-height: 174%;
        letter-spacing: 0.28px;
        width: 162px;
        height: 94px;        
        margin-right: 22px;
    }
    
    .him-info-3 {
        font-size: 14px;
        line-height: 174%;
        letter-spacing: 0.28px;
        width: 195px;
        height: 94px;     
    }

}

@media (max-width: 779px) {
    .container {
        width: 320px;
    }

    .him-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heading-four {
        font-size: 18px;
    }

    .heading-two {
        font-size: 34px;
        letter-spacing: 1.36px;
    }

    .him-cow-milk {
        width: 280px;
        height: 279px;
        margin-left: 20px;
        margin-right: 20px;
        background: url('../images/him-pic-1-mobile.jpg'), 
        lightgray 50% / cover no-repeat;
    }

    .him-texts {
        flex-direction: column;
        padding-left: 0;
    }

    .him-img-text {
        flex-direction: column;
    }

    .him-par-1 {
        font-size: 12px;
        line-height: 162%;
        letter-spacing: 0.48px;
        width: 220px;
        height: 111px;
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 80px;
        margin-bottom: 18px;
    }
    
    .him-par-2 {
        font-size: 12px;
        line-height: 162%;
        letter-spacing: 0.48px;
        width: 220px;
        height: 171px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .him-button {
        margin-left: 20px;
    }

   .him-details {
        margin-top: 195px;
        flex-direction: column;
   }

   .him-icons {
    margin-top: 40px;
    margin-left: 20px;
   }
    
}






