.testimonial {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.64px;
}

.comment-add {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
}

.icecream-pictures {
    display: flex;
}

.comment-image {
    margin-left: 558px;
    width: 85px;
    height: 85px;
    margin-bottom: 68px;
}

.comment-section {
    display: flex;
    flex-direction: column;
}

.comment-quote {
    fill: #E1E1E1;
    margin-top: -50px;
    padding-right: 16px;
}

.comment-text {
    display: flex;
    justify-content: center;
    align-items:center;
    border: transparent 1px black;
    width: 968px;
    height: 138px;
    margin-left: 116px;
    margin-right: 116px;
    background: #FAFAFA;
}

.comment-three-dots {
    display: flex;
    justify-content: center;
}

.three-dots {
    align-items: center;
    fill: #C7133E;
    margin-top: 16px;
    margin-bottom: 16px;
}

.comment-icon {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 32px;
}

.comment-house-icon {
    fill: #C7133E;
}

.comment-ellipse {
    fill: #D9D9D9;
}