.testimonial {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.64px;
}

.comment-add {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
}

.comment-image {
    margin-left: 558px;
    width: 85px;
    height: 85px;
    margin-bottom: 68px;
    margin-top: 120px;
}

.comment-quote {
    fill: #E1E1E1;
    margin-top: -50px;
    padding-right: 16px;
}

.comment-text {
    display: flex;
    justify-content: center;
    align-items:center;
    border: transparent 1px black;
    width: 968px;
    height: 138px;
    margin-left: 116px;
    margin-right: 116px;
    background: #FAFAFA;
}

.comment-three-dots {
    display: flex;
    justify-content: center;
}

.three-dots {
    align-items: center;
    fill: #C7133E;
    margin-top: 16px;
    margin-bottom: 16px;
}

.comment-icon {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 32px;
}

.comment-house-icon {
    fill: #C7133E;
}

.comment-ellipse {
    fill: #D9D9D9;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 320px;
    }
    
    .testimonial {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 157px;
        height: 213px;
    }

    .icecream-photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .comment-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .comment-image {
        margin-left: 0;
    }

    .comment-text {
        width: 157px;
        height: 213px;
        margin-left: 65px;
        margin-right: 58px;
    }

    .comment-quote {
        margin-top: -180px;
        margin-left: -40px;
        padding-right: 0;
    }

    .comment-symbols {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
    }

   
}

@media screen and (min-widht: 768px) and (max-width: 1199px) {
    .testimonial {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 492px;
        height: 83px;
    }
    
}