
.testimonial {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.64px;
}

.icecream-photos {
    background-image: url("../images/icecream-group.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1013px;
    height: 430px;
}

.icecream-images {
    width: 100%;
    margin-top: 93px;
}

.comment-add {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
}

.comment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-image {
    width: 85px;
    height: 85px;
    margin-bottom: 68px;
    margin-top: 120px;
}

.comment-quote {
    fill: #E1E1E1;
    margin-top: -50px;
    padding-right: 16px;
}

.comment-text {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 138px;
    margin-left: 116px;
    margin-right: 116px;
    background: #FAFAFA;
}

.comment-three-dots {
    display: flex;
    justify-content: center;
}

.three-dots {
    align-items: center;
    fill: #C7133E;
    margin-top: 16px;
    margin-bottom: 16px;
}

.comment-icon {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 32px;
}

.comment-house-icon {
    fill: #C7133E;
}

.comment-ellipse {
    fill: #D9D9D9;
}


@media (max-width: 779px) {
        
    .testimonial {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 157px;
        height: 213px;
    }

    .icecream-photos {
        background-image: url("../images/icecream-group-mobile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 320px;
        height: 136px;
    }


    .icecream-images {
        max-width: 100%;
        margin-top: 39px;
    }

    .comment-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .comment-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .comment-text {
        width: 157px;
        height: 213px;
        margin-left: 65px;
        margin-right: 58px;
    }

    .comment-quote {
        margin-top: -180px;
        margin-left: -40px;
        padding-right: 0;
    }

    .comment-symbols {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
    }  
}

@media screen and (min-width: 780px) and (max-width: 1199px) {
    .icecream-photos {
        background-image: url("../images/icecream-group-tablet.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 780px;
        height: 327px;
    }

    .icecream-images {
        margin-top: 18px;
    }

    .testimonial {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 492px;
        height: 83px;
    }
    .comment-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .comment-symbols {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}