
.testimonial {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.64px;
    width: 750px;
    height: 52px;
    padding-right: 108px;    
    position: relative;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
    text-decoration-color: #E1E1E1;
}


.icecream-photos {
    background-image: url("../images/icecream-group.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1013px;
    height: 430px;
    margin: 0 auto;
    margin-top: 90px;
}

.icecream-images {
    width: 100%;
    margin-top: 93px;
}

.comment-add {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
}

.comment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-image {
    width: 85px;
    height: 85px;
    margin-bottom: 16px;
}

.comment-quote {
    fill: #E1E1E1;
    margin-top: -45px;
}

.comment-text {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 968px;
    height: 138px;
    background: #FAFAFA;
    position: relative;
}

.comment-three-dots {
    display: flex;
    justify-content: center;
}

.three-dots {
    align-items: center;
    fill: #C7133E;
    margin-top: 16px;
    margin-bottom: 16px;
}

.comment-icon {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 32px;
    margin-bottom: 120px;
}

.comment-house-icon {
    fill: #C7133E;
}

.comment-ellipse {
    fill: #D9D9D9;
}


@media (max-width: 779px) {
    .container {
        width: 320px;
    }
        
    .testimonial {
        display: flex;
        flex-wrap: wrap;
        width: 157px;
        height: 213px;
        font-size: 12px;
        line-height: 260%;
        letter-spacing: 0.48px;
        position: relative;
        margin-top: 20px;
        margin-left: -35px;
        z-index: 2;
        padding-right: 0;
    }

    .icecream-photos {
        background-image: url("../images/icecream-group-mobile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 320px;
        height: 136px;
    }

    .icecream-images {
        max-width: 100%;
        margin-top: 39px;
    }

    .comment-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .comment-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 32px;
    }

    .comment-text {
        width: 280px;
        height: 307px;
    }

    .comment-quote {
        margin-top: -192px;
        margin-left: -40px;
        position: relative;
        z-index: 1;
        width: 54px;
        height: 40px;
    }

    .comment-symbols {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  
    .comment-icon {
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 780px) and (max-width: 1199px) {
    .container {
        width: 780px;
    }
    
    .icecream-photos {
        background-image: url("../images/icecream-group-tablet.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 780px;
        height: 327px;
    }

    .icecream-images {
        margin-top: 18px;
    }

    .testimonial {
        font-size: 14px;
        line-height: 214%;
        letter-spacing: 0.56px;
        width: 492px;
        height: 83px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        margin-left: -10px;
        padding-right: 18px;
    }
    .comment-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .comment-image {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .comment-text {
        width: 620px;
        height: 164px;
    }

    .comment-quote {
        margin-top: -83px;
        position: relative;
        z-index: 1;
        width: 60.353px;
        height: 40px;
    }

    .comment-symbols {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .comment-icon {
        margin-bottom: 80px;
    }
    
}