.testimonial {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.64px;
}

.comment-add {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
}

.comment-quote {
    fill: #E1E1E1;
}