.nav {
    background-color: var(--Light-Pink);
    font-weight: 700;
    z-index: 3;
}

.nav .container {
    padding-bottom: 0;
    padding-top: 8px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.nav-logo {
    width: 200px;
    height: 50px;
    background: url(../images/ice-cream-logo.svg) center no-repeat;
}

.nav-list {
    position: relative;
    right: 15px;
    display: flex;
    gap: 35px;
    z-index: 3;
}

.active {
    color: var(--Dark-Red-Pink);
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-button .menu {
    display: none;
    position: relative;
    z-index: 3;
    color: var(--Dark-Red-Pink);
}

.nav-button .button,
.nav-menu-wrapper .button {
    display: flex;
    align-items: center;
    color: var(--Dark-Red-Pink);
    background-color: var(--White);
}

.nav-menu-wrapper ,
.is-hidden {
    display: none;
}

@media (max-width: 779px) {
    .container {
        width: 320px;
    }

    .nav-bar {
        padding: 0 20px;
    }

    .nav-list {
        display: none;
    }

    .nav-button .button {
        display: none;
    }
    
    .nav-button .menu {
        display: block;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999999;
        background-color: #E17992;
    }

    .nav-menu-container {
        width: 320px;
        margin: 0 auto;
        height: 100vh;
        padding-top: 25px;
    }

    .nav-menu-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 19px;
        margin-top: 25px;
    }
    
    .nav-menu-list {
        // gap: 22px;
        width: 100%;
    }

    .nav-menu .close {
        position: relative;
        left: 88%;
    }
    
    .nav-menu-item {
        border-top: 1px solid #E18298;
        padding: 10px;
    }

    ul:last-child {
        border-bottom: 1px solid #E18298;
    }

    .nav-menu-wrapper .button {
        justify-content: center;
        gap: 10px;
        width: 210px;
    }
}

@media (min-width: 780px) and (max-width: 1199px) { 
    
    .nav-bar {
        padding: 0 50px;
    }

    .nav-list {
        display: none;
    }

    .nav-button .menu {
        display: block;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999999;
        background-color: #E17992;;
    }

    .nav-menu-container {
        width: 780px;
        margin: 0 auto;
        height: 100vh;
        padding: 60px 32px;
    }

    .nav-menu-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .nav-menu-list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-menu-item {
        border-top: 1px solid #E18298;
        padding: 10px;
    }
    
    ul:last-child {
        border-bottom: 1px solid #E18298;
    }

    .nav-menu-wrapper .button { 
        justify-content: center;
        width: 210px;
    }

    .nav-menu .close {
        position: relative;
        left: 88%;
        // width: 14px;
        // height: 14px;
    }
}