<footer>
 <div class="last">
    <div class="info">
<div class="company-location">
  <div class="location"><a href="">Our Locations </a></div><img src="./images/Vector1.svg" alt="icon" width="">
</div>
<div class="company-franchise">
  <div class="franchise"><a href="">franchise </a></div><img src="./images/Vector1(1).svg" alt="icon" width="">
</div>
    </div>
    <div class="product">
<div class="homemade"><h3>Homemade ice cream made</h3></div>
<div class="passion"><h2>WITH PASSION</h2></div>
    </div>
    <div class="contact">
    <div class="icon"><div class="git"><img src="./images/github.svg" alt="Github" width=""></div>
    <div class="telegram"><img src="./images/telegram.svg" alt="telegram" width=""></div>
  <div class="facebook"><img src="./images/facebook.svg" alt="facebook" width=""></div>
</div>  
<div class="feel"><p class="free">Feel free to contact <a class="end" href="+61(0)383766284">+61(0) 383 766 284</a>
</p></div>
    </div>
    <div class="adjourn">
<div class="vector-8"><img src="./images/Vector8.svg" alt="Line" width=""></div>
<div class="end-footer"><p>&copy; 2022 - Ice Cream.All Rights Reserved.</p></div>
    </div>
 </div>
</footer>
  </body>
</html>