<footer class="last">
    <div class="info">
<div class="company-location">
  <a class="Location" href="">Our Locations </a><img src="./images/Vector1.svg" alt="icon" width="">
</div>
<div class="company-franchise">
  <a class="franchise" href="">franchise </a> <img src="./images/Vector1(1).svg" alt="icon" width="">
</div>
    </div>
    <div class="product">
<div class="homemade"><h3>Homemade ice cream</h3></div>
<div class="passion"><h2>WITH PASSION</h2></div>
    <div class="contact-info">
    <div class="icon"><img src="./images/github.svg" alt="Github" width="">
    <img src="./images/telegram.svg" alt="telegram" width="">
  <img src="./images/facebook.svg" alt="facebook" width="">
</div>  
<div class="feel"><p class="free">Feel free to contact <a class="end" href="+61(0)383766284">+61(0) 383 766 284</a>
</p></div>
    </div>
    </div>
<div class="vector-8"><img src="./images/Vector8.svg" alt="Line" width=""></div>
<div class="end-footer"><p>&copy; 2022 - Ice Cream.All Rights Reserved.</p></div>
    </footer>
  </body>
</html>