<section class="hero">
    <div class="container">
        <div class="hero-wrapper">
            <div class="hero-headings">
                <div class="hero-headings-wrapper">
                    <h3 class="heading-three">Ice cream <br> made with</h3>
                    <h2 class="heading-two">passion</h2>
                </div>
                <div class="hero-buttons">
                    <a href="#" class="link button">Products</a>
                    <a href="#" class="link button">How it's made?</a>
                </div>
            </div>
            <div class="hero-business-wrapper">
                <div class="hero-business">
                    <h2 class="heading-two">16</h2>
                    <p>cafes</p>
                </div>
                <div class="hero-business">
                    <h2 class="heading-two">23</h2>
                    <p>food trucks</p>
                </div>
            </div>
        </div>
    </div>
</section>