<section>
    <div>
        <h4 class="heading-four">
            tradition and love 
        </h4>
        <h2 class="heading-two">
            how it's made?
        </h2>
    </div>
    <div>
        <img src="../images/him-pic-1.jpg" alt="cow and milk"/>
        <p>
            Ice is a place where you will become not only a little happier, 
            but also healthier. Health is the main value for us, 
            and we follow it when creating our handmade desserts. 
        </p>
        <p>
            We use traditional recipes and 100% natural ingredients. 
            Our products are so natural that they can be given to 
            children from the age of three years. Sweets lovers 
            can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes. 
        </p>
        <button class="button">Read more
            <svg width="4.428px" height="8px">
                <use href="../images/icons.svg#arrow-two"></use>
            </svg>
        </button>
    </div>
    <div>
        <div>
            <svg>
                <use href="../images/icons.svg#milk"></use>
            </svg>
            <h2 class="heading-two">721</h2>
            <p>
                At 721 Cow, we're passionate about producing the highest quality ice cream possible.
            </p>
        </div>
        <div>
            <svg>
                <use href="../images/icons.svg#apples"></use>
            </svg>
            <h2 class="heading-two">16kg</h2>
            <p>
                You can be sure you're getting a scoop of the freshest ice cream around.
            </p>
        </div>
        <div>
            <svg>
                <use href="../images/icons.svg#heart"></use>
            </svg>
            <h2 class="heading-two">84</h2>
            <p>
                We use only the freshest, locally-sourced ingredients to make our 84 unique and delicious flavors.
            </p>
        </div>
    </div>
</section>