
    <!-- Ice Creams and comment section -->
    <section class="container">
        <div>
            <ul class="icecream-group">
                <li class="list">
                    <img src="../images/home-pic5 5.jpg" alt="ice cream">
                </li>
                <li class="list">
                    <img src="../images/home-pic5 4.jpg" alt="ice cream">
                </li>
                <li class="list">
                    <img src="../images/home-pic5 6.jpg" alt="ice cream">
                </li>
                <li class="list">
                    <img src="../images/home-pic5 1.jpg" alt="ice cream">
                </li>
                <li class="list">
                    <img src="../images/home-pic5 7.jpg" alt="ice cream">
                </li>
                <li class="list">
                    <img src="../images/home-pic5 9.jpg" alt="ice cream">
                </li>
                <li class="list">
                    <img src="../images/home-pic5 8.jpg" alt="ice cream">
                </li>
                <li class="list">
                    <img src="../images/home-pic5 10.jpg" alt="ice cream">
                </li>
                <li class="list">
                    <img src="../images/home-pic5 12.jpg" alt="ice cream">
                </li>
                <li class="list">
                    <img src="../images/home-pic5 11.jpg" alt="ice cream">
                </li>
            </ul>
        </div>
        <div>
            <img src="../images/testimonials1 1.jpg" alt="happy customer">
        </div>
        <div>
            <p>I love visiting your cafe. 
                You prepare the most delicious ice cream in Los Angeles! 
                In addition, you have beautiful serving, 
                cozy atmosphere and polite staff.
            </p>
        </div>
        <div>
            <p>Emily, Los Angeles</p>
        </div>
    </section>

