<section class="container">
    <div class="icecream">
        <ul class="icecream-pictures">
            <li class="list">
                <image src="../images/home-pic5 5.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/home-pic5 4.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/home-pic5 6.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/home-pic5 1.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/home-pic5 7.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/home-pic5 9.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/home-pic5 8.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/home-pic5 10.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/home-pic5 12.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/home-pic5 11.jpg" alt="ice cream"></image>
            </li>
        </ul>
    </div>
    <div>
        <image src="../images/testimonials1 1.jpg" alt="happy customer"></image>
        <svg class="comment-quote">
            <use href="./images/icons.svg#quotation"></use>
        </svg>
        <p class="testimonial">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! 
            In addition, you have beautiful serving, cozy atmosphere and polite staff.
        </p>
    </div>
    <div>
        <svg>
            <use href="./images/icons.svg#icon-Group-8"></use>
        </svg>
        <p class="comment-add">Emily, Los Angeles</p>
        <svg width="12" height="12">
            <use href="./images/icons.svg#icon-house"></use>
        </svg>
        <svg width="12" height="12">
            <use href="./images/icons.svg#Ellipse"></use>
        </svg>
        <svg width="12" height="12">
            <use href="./images/icons.svg#Ellipse"></use>
        </svg>
    </div>

</section>