<section class="container">
    <div class="icecream">
        <ul class="icecream-pictures">
            <li class="list">
                <img src="../images/icecream-pic-1.jpg" alt="ice cream"></img>
            </li>
            <li class="list">
                <image src="../images/icecream-pic-2.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/icecream-pic-3.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/icecream-pic-4.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/icecream-pic-5.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/icecream-pic-6.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/icecream-pic-7.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/icecream-pic-8.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/icecream-pic-9.jpg" alt="ice cream"></image>
            </li>
            <li class="list">
                <image src="../images/icecream-pic-10.jpg" alt="ice cream"></image>
            </li>
        </ul>
    </div>
    <div class="comment-section">
        <image src="./images/testimonials-1.jpg" alt="happy customer"></image>
        <div class="comment-text">
            <svg class="comment-quote" width="54" height="40">
                <use href="./images/icons.svg#quotation"></use>
            </svg>
            <p class="testimonial">
                I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! 
                In <br> addition, you have beautiful serving, cozy atmosphere and polite staff.
            </p>
        </div>
    </div>
    <div>
        <div class="comment-three-dots">
            <svg class="three-dots" width="32" height="4">
                <use href="./images/icons.svg#icon-Group-8"></use>
            </svg>
        </div>
        <p class="comment-add">Emily, Los Angeles</p>
        <div class="comment-icon">
            <svg class="comment-house-icon" width="12" height="12">
                <use href="./images/icons.svg#icon-house"></use>
            </svg>
            <svg class="comment-ellipse" width="12" height="12">
                <use href="./images/icons.svg#Ellipse"></use>
            </svg>
            <svg class="comment-ellipse" width="12" height="12">
                <use href="./images/icons.svg#Ellipse"></use>
            </svg>
        </div>
    </div>

</section>