<header class="nav">
    <div class="container">
        <nav class="nav-bar">
            <div class="nav-logo">
            </div>
            <ul class="nav-list list">
                <li class="nav-item">
                    <a href="#home" class="link active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#home" class="link active">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="#home" class="link active">How it's made?</a>
                </li>
                <li class="nav-item">
                    <a href="#home" class="link active">Our products</a>
                </li>
                <li class="nav-item">
                    <a href="#home" class="link active">Contacts</a>
                </li>
            </ul>
            <div class="nav-button">
                <a href="" class="link button">
                    Buy now
                    <svg class="icon">
                        <use href="./images/icons.svg#arrow-two"></use>
                    </svg>
                </a>
            </div>
        </nav>
    </div>
</header>