<section class="section-four" id="sectionFour">
    <div class="container">
        <ul class="section-four-list list">
            <li class="section-four-card">
                <div class="card-title">cafe</div>
                <div class="card-location-wrapper">
                    <p class="card-location">Chicago</p>
                    <p class="card-details">Handcrafted coffee, baked goods, and premium ice cream.</p>
                </div>
                <div class="card-schedule">
                    <div>
                        <p class="card-day">Monday - Friday</p>
                        <p class="card-time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <p class="card-day">Saturday - Sunday</p>
                        <p class="card-time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div class="card-contacts">
                    <a href="tel:+61(0) 383 766 284" class="link">
                        <p>+61(0) 383 766 284</p>
                    </a>
                    <a href="mailto:noreply@envato.com" class="link">
                        <p>noreply@envato.com</p>
                    </a>
                </div>
            </li>
            <li class="section-four-card">
                <div class="card-title">food truck</div>
                <div class="card-location-wrapper">
                    <p class="card-location">Los Angeles</p>
                    <p class="card-details">Fusion cuisine and refreshing ice cream made with passion.</p>
                </div>
                <div class="card-schedule">
                    <div>
                        <p class="card-day">Monday - Friday</p>
                        <p class="card-time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <p class="card-day">Saturday - Sunday</p>
                        <p class="card-time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div class="card-contacts">
                    <a href="tel:+61(0) 383 766 284" class="link">
                        <p>+61(0) 383 766 284</p>
                    </a>
                    <a href="mailto:noreply@envato.com" class="link">
                        <p>noreply@envato.com</p>
                    </a>
                </div>
            </li>
            <li class="section-four-card">
                <div class="card-title">cafe</div>
                <div class="card-location-wrapper">
                    <p class="card-location">New York</p>
                    <p class="card-details">Specialty teas, artisanal pastries, mouth-watering ice cream.</p>
                </div>
                <div class="card-schedule">
                    <div>
                        <p class="card-day">Monday - Friday</p>
                        <p class="card-time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <p class="card-day">Saturday - Sunday</p>
                        <p class="card-time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div class="card-contacts">
                    <a href="tel:+61(0) 383 766 284" class="link">
                        <p>+61(0) 383 766 284</p>
                    </a>
                    <a href="mailto:noreply@envato.com" class="link">
                        <p>noreply@envato.com</p>
                    </a>
                </div>
            </li>
        </ul>
        <div class="section-four-buttons">
            <a href="#" class="link button">
                Our Locations
                <svg class="icon">
                    <use href="./images/icons.svg#arrow-two"></use>
                </svg>
            </a>
            <a href="#" class="link button">
                Franchise
                <svg class="icon">
                    <use href="./images/icons.svg#arrow-two"></use>
                </svg>
            </a>
        </div>
    </div>
</section>