<section class="section-one">
    <div class="container">
        <div class="section-heading-wrapper">
            <h3 class="heading-three">100% natural</h3>
            <h2 class="heading-two">products</h2>
        </div>
        <div class="ice-cream-wrapper">
            <ul class="ice-cream list">
                <li class="ice-cream item">
                    <div class="image-wrapper">
                        <img src="./images/sec1-1.png" alt="ice cream" class="image">
                    </div>
                    <h3 class="heading-three">
                        ice cream
                    </h3>
                    <svg class="icon">
                        <use href="./images/icons.svg#more"></use>
                    </svg>
                    <p class="text">
                        Indulge in our rich and creamy ice cream, handcrafted with all-natural ingredients and available in a variety of
                        flavors.
                    </p>
                    <svg class="icon-s">
                        <use href="./images/icons.svg#arrow-one"></use>
                    </svg>
                </li>
                <li class="ice-cream item">
                    <div class="image-wrapper">
                        <img src="./images/sec1-2.png" alt="ice cream" class="image">
                    </div>
                    <h3 class="heading-three">
                        ice coffee
                    </h3>
                    <svg class="icon">
                        <use href="./images/icons.svg#more"></use>
                    </svg>
                    <p class="text">
                        Refresh and energize with our perfectly brewed iced coffee, made with high-quality beans and served over ice.
                    </p>
                    <svg class="icon-s">
                        <use href="./images/icons.svg#arrow-one"></use>
                    </svg>
                </li>
                <li class="ice-cream item">
                    <div class="image-wrapper">
                        <img src="./images/sec1-3.png" alt="ice cream" class="image">
                    </div>
                    <h3 class="heading-three">
                        milkshakes
                    </h3>
                    <svg class="icon">
                        <use href="./images/icons.svg#more"></use>
                    </svg>
                    <p class="text">
                        Satisfy your sweet tooth with our thick, made with premium ice cream, topped with whipped cream and your favorite
                        toppings.
                    </p>
                    <svg class="icon-s">
                        <use href="./images/icons.svg#arrow-one"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</section>