<section class="him-section" id="sectionTwo">
    <div class="container">
        <div class="him-heading">
            <h4 class="heading-four">
                tradition and love 
            </h4>
            <h2 class="heading-two">
                how it's made?
            </h2>
        </div>

        <div class="him-content">
            <div class="him-bg">
                <div class="him-img-text">
                    <div class="him-cow-milk"></div>
                    <div class="him-texts">
                        <p class="him-par-1">
                            Ice is a place where you will become not only a little happier, 
                            but also healthier. Health is the main value for us, 
                            and we follow it when creating our handmade desserts. 
                        </p>
                        <p class="him-par-2">
                            We use traditional recipes and 100% natural ingredients. 
                            Our products are so natural that they can be given to 
                            children from the age of three years. Sweets lovers 
                            can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes. 
                        </p>
                        <button class="button him-button">Read more
                            <svg class="him-button-arrow">
                                <use href="./images/icons.svg#arrow-two"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="him-details">
            <div class="him-icons">
                <svg class="him-svg icon-l" width="50" height="50">
                    <use href="./images/icons.svg#milk"></use>
                </svg>
                <h2 class="heading-two him-heading-nos">721</h2>
                <p class="him-info-1">
                    At 721 Cow, we're passionate about producing the highest quality ice cream possible.
                </p>
            </div>
            <div class="him-icons">
                <svg class="him-svg icon-l" width="50" height="50">
                    <use href="./images/icons.svg#apples"></use>
                </svg>
                <h2 class="heading-two him-heading-nos">16kg</h2>
                <p class="him-info-2">
                    You can be sure you're getting a scoop of the freshest ice cream around.
                </p>
            </div>
            <div class="him-icons">
                <svg class="him-svg icon-l" width="50" height="50">
                    <use href="./images/icons.svg#heart"></use>
                </svg>
                <h2 class="heading-two him-heading-nos">84</h2>
                <p class="him-info-3">
                    We use only the freshest, locally-sourced ingredients to make our 84 unique and delicious flavors.
                </p>
            </div>
        </div>
    </div>
</section>